/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    
}